.mainContent {
    font-family: 'Mandali', sans-serif;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 80px;
   
    opacity: 0,3;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.73);
    overflow-y: auto;
    height: 80vh;
    left: 50vw;
    margin-left: -45vw;
    width: 90vw;
}

  
::-webkit-scrollbar {
    display: none;
    }

