.entity {
    position: fixed;
    /* color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    z-index: 155;
    background-color: rgba(0, 0, 0, 0.61);
 
    text-align: center;
    margin: 0px;
    transition: opacity 0.2s;
    opacity: 0.5;
    -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;

}

.entityDis {
    position: fixed;
    /* color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    z-index: 155;
    background-color: rgba(0, 0, 0, 0.61);
    pointer-events: none;
    text-align: center;
    margin: 0px;
    transition: opacity 0.2s;
    opacity: 0.3;
    filter: blur(2px);
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.folderDis {
    position: fixed;
    /* color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    z-index: 155;
    background-color: rgba(0, 0, 0, 0.61);
    pointer-events: none;
    text-align: center;
    margin: 0px;
    transition: opacity 0.2s;
    opacity: 0.3;
    filter: blur(2px);
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.newEntity {
    position: fixed;
    /* color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    z-index: 155;
    background-color: rgba(0, 0, 0, 0.61);
    
    text-align: center;
    margin: 0px;
    transition: opacity 0.2s;
   opacity: 0.9;
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}



.entity1 {

    /* color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    z-index: 155;
    background-color: rgba(43, 43, 43, 0.61);
    opacity: 0.4;
    width: 80%;
    transition: opacity 0.2s;
    box-shadow: 0px 0px 3px 1px rgb(255, 255, 255);
    margin: 10px;
}

.entity:hover {
    color: rgb(255, 255, 255);
    z-index: 160;
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
}

.newEntity:hover {
    color: rgb(255, 255, 255);
    z-index: 160;
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
}



.folder1 {

    /* color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.836);
    opacity: 0.4;
    margin: 0px;
    transition: opacity 0.2s;
    box-shadow: 0px 0px 3px 1px rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    cursor: default;
}

 .folder:hover {
    color: rgb(255, 255, 255);
    z-index: 159;
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
} 

.folderImage {
    display: inline-block;    
}


.folderLabel {
    position: absolute;
    color: rgba(197, 197, 197, 0.945);
    font-family: 'Mandali', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    top: 108%;
    left: 0%;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.editField {
    position: fixed;
    color: rgba(179, 179, 179, 0.945);
    font-family: 'Mandali', sans-serif;
    background-color: rgba(41, 41, 41, 0.801);
    font-size: 12px;
    
    text-align: left;
    font-weight: 0;
    text-shadow: none;
    z-index: 800;
    right: -30px;
    width: 120px;
    white-space: nowrap;
    padding: 8px;
    visibility: hidden;
    
}

.editEntity:hover .editField {
    transition-delay: 0.4s;
    visibility: visible;
}

.editField hr {
    border: 0; border-top: 1px solid rgb(90, 90, 90);
}


.iconLabel {
    position: absolute;
    color: rgba(197, 197, 197, 0.945);
    font-family: 'Mandali', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    top: 108%;
    left: -25%;
    width: 150%;
    word-wrap: break-word;
    text-align: center;
}

.entity:hover .addEntity  {
    display: block;
}

.newEntity:hover .addingEntity  {
    display: block;
}

.entity:hover .addingEntity  {
    display: block;
}

.folder:hover .followIcon  {
    display: block;
}

.entity:hover .moveEntity  {
    display: block;
}

.entity:hover .zoomEntity  {
    display: block;
}

.entity:hover .editEntity  {
    display: block;
}

.folder:hover .editEntity  {
    display: block;
}

.entity:hover .removeEntity  {
    display: block;
}

.entity:hover .disableEntity  {
    display: block;
}

.newEntity:hover .addEntity  {
    display: block;
}

.newEntity:hover .moveEntity  {
    display: block;
}

.newEntity:hover .removeEntity  {
    display: block;
}

.newEntity:hover .disableEntity  {
    display: block;
}

.folder:hover .disableEntity  {
    display: block;
}

.entityImg {
    position: fixed;
    color: rgba(255, 255, 255, 0.897);
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.74);
    z-index: 100;
    opacity: 0.4;
}

.forSure {
    margin-left: 50px;
    margin-top: 5px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 17px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    white-space: nowrap;
    position: absolute;
    top: -19px;
    left: 86%;
}



.entityClick {
    text-shadow: 0px 0px 5px rgb(231, 173, 64);
}

.addEntity {
    position: absolute;
    top: -19px;
    left: 86%;
    color: rgb(86, 159, 255);
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.979) 0px 0px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.addingEntity {
    position: absolute;
    top: -19px;
    left: 86%;
    color: rgb(86, 159, 255);
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.979) 0px 0px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.moveEntity {
    position: absolute;
    top: -15px;
    left: -32%;
    color: rgb(86, 159, 255);
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.979) 0px 0px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
    
}

.zoomEntity {
    position: absolute;
    top: 80%;
    left: 0%;
    color: rgb(86, 159, 255);
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.979) 0px 0px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.addEntity:hover {
    font-weight: 900;
    display: block;
    color: rgba(0, 110, 255, 0.979);
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 3px, rgba(0, 0, 0, 0.911) 0px 0px 15px
}

.zoomEntity:hover {
    font-weight: 900;
    display: block;
    font-size: 20px;
    color: rgb(86, 159, 255);
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.editEntity {
    position: absolute;
    top: 90%;
   
    color: rgb(177, 177, 177);
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 20px;
    transform: rotate(0deg);
    font-size: 100;
    text-shadow: rgba(0, 0, 0, 0.979) 0px 0px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.editEntity:hover {
    display: block;
    font-size: 22px;
    color: rgb(204, 204, 204);
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.followIcon {
    display: none;
    position: absolute;
    top: -16px;
    left: -13px;
    text-shadow: rgba(29, 29, 29, 0.979) 3px 2px 3px, rgba(0, 0, 0, 0.911) 1px 0px 5px
}


.addingEntity:hover {
    font-weight: 900;
    
    display: block;
    color: rgba(0, 110, 255, 0.979);
    text-shadow: rgba(14, 14, 14, 0.979) -3px 2px 3px, rgba(0, 0, 0, 0.911) 0px 0px 15px
}


.moveEntity:hover {
    font-weight: 900;
    display: block;
    font-size: 20px;
    color: rgb(86, 159, 255);
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}





.removeEntity {
    position: absolute;
    top: -19px;
    left: 86%;
    color: rgba(255, 60, 60, 0.945);
   
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.removeEntityInfo {

    color: rgba(255, 60, 60, 0.945);
   
    font-weight: 900;
    display: inline-block;
    
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px;

    font-family: Verdana, Geneva, sans-serif;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.removeEntity:hover {
   
    font-weight: 900;
    display: block;
    color: rgba(255, 0, 0, 0.979);
    
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
 
}

.disable {
    display: none;
}

.titleInput {
width: 100px;
z-index: 600;
}

.disableEntity {
    position: absolute;
    top: -19px;
    left: 86%;
    color: rgba(255, 60, 60, 0.945);
   
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    display: none;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.lockIcon {
    position: absolute;
    top: -16px;
    left: -13px;
    color: rgba(221, 221, 221, 0.945);
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px;
    font-size: 17px;
}

.openIcon {

    color: rgba(0, 201, 43, 0.945);

}

.disableEntity:hover {
   
    font-weight: 900;
    display: block;
    color: rgba(255, 0, 0, 0.979);
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px
}

.imgZoom1 {
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.imgZoom2 {
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.imgZoom3 {
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.imgZoom4 {
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.imgZoom {
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}






.bookZoom {
    object-fit: cover;
    max-height: 500px;
    border-radius: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.entImg {
    object-fit: cover;

    border-radius: 6px;
}

.entBook {
    object-fit: cover;
  
  
    border-radius: 0px;
}

.bookImg {
    object-fit: cover;
}
  

.folderTd {
  
  
    margin: 0;

}
