.header {
    background-color: rgb(34, 34, 34);
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 160;
    font-size: 20px;
    padding: 0px;
    font-family: 'Mandali', sans-serif;
    color: #3b3b3b;
    font-weight: 100;
    display: flex;
    height: 33px;
}

.actuallMenu {
    display: flex;
    position: absolute;
    z-index: 200;
  
    transition: left 1s linear;
}

.hideHeader {
    left: 0px;
    transition: left 1s linear;
}

.loginWindow {
    z-index: 900;
  position: absolute;
  left: 50vw;
  margin-left: -200px;
  margin-top: 55vh;
  height: 240px;
  width: 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.226);
  font-family: 'Mandali', sans-serif;
  color: rgba(255, 255, 255, 0.575);
  font-size: 16px;
  padding-top: 10px;
}

.forgetPassword {
    margin-left: 1px;
    text-align: left;
}


.disable {
    display: none;
}

.deskMenu {
    display: flex;
    z-index: 300;
   position: absolute;
   top: 0px;
   left: 110px;
   min-width: 20px;
   margin-left: 210px;
   margin-right: 100px;
   margin-right: 310px;
   transition: left 0.5s linear;
}

.deskMenu label {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.479);
  
    font-size: 13px;
    margin-top: 11px;
    margin-left: 20px;
}
 

.menuForSmall {
    display: inline-flex;
    z-index: 170;
    display: none;
    font-family: 'Mandali', sans-serif;
    color: rgba(255, 255, 255, 0.575);
    font-size: 12px;
    opacity: 0,3;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}


@media only screen and (max-width: 650px) {
    .menu {
      display: none;
    }
  }

/* this is responsible for responsible */
@media only screen and (max-width: 750px) {
    .actuallMenu {
      display: none;
    }
    .entity {
        display: none;
      }
    .menuForSmall {
        display: inline-flex;
      }
  }

.main {
    margin-left: 15px;
    margin-top: 3px;
    cursor: pointer;
    font-size: 18px;
    padding: 3px;
    z-index: 170;
    color: rgba(231, 173, 64, 0.637);
    float: left;
}

    .main:hover {
        color: rgba(231, 173, 64, 0.836);
    }

.switch {
    margin-left: 30px;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 14px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s;
    white-space: nowrap;   
}

.switch:hover {
    color: rgba(255, 255, 255, 0.822)
}

.clickElem {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s;
    white-space: nowrap; 
    cursor: pointer;
}

.clickElem:hover {
    color: rgba(255, 255, 255, 0.9)
}

#switchMenu:hover #switchMenuField {
    display: block;
    
}

#switchMenuField { 
    position: absolute;
    display: none;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.884);
    padding-bottom: 10px;
}

.switchMenu {
    -webkit-box-shadow: 16px 2px 13px -5px #000000; 
    box-shadow: 16px 2px 13px -5px #000000;
    z-index: 1000;
    width: 315px;
    height: 33px;
    margin-top: 0px;
    background-color: rgb(39, 39, 39);
}

.switchMenu:hover {
    color: rgba(255, 255, 255, 0.945);

}

.activeSwitch {

    margin-left: 30px;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 14px;
    padding: 3px;
    color: rgba(231, 173, 64, 0.836);
    transition: all 0.3s;
    white-space: nowrap; 
  
}

.activeSwitchTop {
    margin-left: 30px;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 14px;
    padding: 3px;
    color:  rgba(231, 173, 64, 0.836);
    transition: all 0.3s;
    white-space: nowrap; 
  
}



.switchFooter {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 10px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    white-space: nowrap; 
    display: inline-flex;
    margin-top: 10px;
}

.addSwitcher {
    transition: all 0.3s;
    cursor: pointer;
}

.addSwitcher:hover {
    color: rgba(255, 255, 255, 0.925);
    text-decoration: rgba(255, 255, 255, 0.925) underline;
}

.addSwitcherActive {
    color: rgb(255, 255, 255);
    text-decoration: rgb(255, 255, 255) underline;
}

.addOwn {
    color: rgb(67, 149, 255);
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
    font-size: 33px;
    margin-left: 20px;
    margin-top: -5px;
    font-weight: 200;
}

.addOwnInfo {
    color: rgb(75, 153, 255);
    font-family: Verdana, Geneva, sans-serif;
   
    font-weight: 200;
   
}


.activePlus {
    
    color: white;
}



.addOwn:hover {
    color: rgba(243, 243, 243, 0.932);
}


.switcher {
    transition: all 0.3s;
    cursor: pointer;
}

.switchB {
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 22px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    white-space: nowrap;
}

.backFromFolder {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    padding: 0px;
    font-size: 17px;
    float: left;
  }

.folderInfoHeader {
    margin-left: 0px;
    margin-top: 4px;
    font-size: 20px;
}

#folderTitle  {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.74);
    float: left;
    margin-top: 3px;
    border-left: solid 0.5px rgba(255, 255, 255, 0.705);
    padding-left: 10px;
    cursor: pointer;
}

#folderTitle:hover {
    color: rgba(255, 255, 255, 0.897);
    transition: all 0.2s;
    text-decoration: underline;
    cursor: pointer;
}

#folderTitle:hover #folderTitleField {
    display: block;
}
#folderTitleField {
    display: none;
    cursor: default;
    padding: 10px;
    position: fixed;
    top: 30px;
    left: 200px;
    background-color: rgb(32, 32, 32);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}


.switchA {
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 22px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.986);
    transition: all 0.3s;
    white-space: nowrap;
}

.switchDisable {
    margin-left: 10px;
    margin-top: 5px;
    pointer-events: none;
    opacity: 0,1;
    font-size: 18px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.199);
    white-space: nowrap;
}

#plusField {
    top: 30px;
    left: 320px;
}

#plus:hover #plusField {
    display: block;
}

.hoverInfo {
    cursor: default;
    display: none;
    padding: 10px;
    font-family: 'Mandali', sans-serif;
    font-size: 13px;
    position: fixed;
    background-color: rgb(32, 32, 32);
    z-index: 1000;
    color: rgba(255, 255, 255, 0.678);
    text-shadow: none;
}

#addText {
    top: 30px;
    left: 280px;
}




#addOwn:hover #addText {
    display: block;   
}


.logIn {
    margin-top: 3px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 16px;
    padding: 3px;
    color: rgba(231, 173, 64, 0.637);
    transition: all 0.3s;
    white-space: nowrap;
    margin-left: 10px; 
    margin-right: 20px;
    align-items: left;
    z-index: 400;
}

.screenSwitch {
    margin-top: 5px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 35px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.582);
    transition: all 0.3s;
    white-space: nowrap;
    margin-left: auto; 
    margin-right: 0px;
    align-items: left;
    z-index: 400;
}

.screenSwitch:hover {
    color: rgba(255, 255, 255, 0.986);
   
}

.mainSwitch {
    cursor: pointer;
    opacity: 0,3;
    font-size: 20px;
    padding: 3px;
   
    transition: all 0.3s;
    white-space: nowrap;
    margin-left: 5px;
    margin-top: 2px;
    float: left;
    color: #FFFFFF;
    
}

.active { 
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff1e1e 0px 0px 20px, 2px 2px 2px rgba(206,93,93,0);
    margin-top: 0px;
}



.mainSwitch:hover {
    margin-top: 0px;
  
}

.desktop {
    margin-top: 5px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 15px;
    padding: 3px;
    color: rgba(196, 194, 191, 0.925);
    transition: all 0.3s;
    white-space: nowrap;
    margin-left: 0px;
    margin-right: 0px;
    align-items: left;
    text-align: left;
}

.desktopC {
    margin-top: 5px;
    cursor: default;
    opacity: 0,3;
    font-size: 14px;
    color: rgba(170, 167, 161, 0.61);
    white-space: nowrap;
  
}


.desktop:hover {
    color: rgba(255, 255, 255, 0.877);
    text-decoration-line: underline;

}

#userP:hover #login {
    display: block;
}

.registerInput {
    border-radius: 3px;
    background-color: rgba(29, 29, 29, 0.815);
    border-width: 0px;
    height: 30px;
    font-family: 'Mandali', sans-serif;
    color: rgba(202, 202, 202, 0.678);
    z-index: 300;
    width: 300px;
    font-size: 14px;
}




.switchSearch {
    border-radius: 3px;
    background-color: rgba(65, 65, 65, 0.466);
    border-width: 0px;
    height: 20px;
    font-family: 'Mandali', sans-serif;
    color: rgba(231, 173, 64, 0.637);
    position: fixed;
    right: 5px;
    z-index: 300;
    bottom: 8px;
    width: 120px;
    font-size: 11px;
}

.textFolder {
    border-radius: 3px;
    background-color: rgba(65, 65, 65, 0.466);
    border-width: 0px;
    height: 20px;
    font-family: 'Mandali', sans-serif;
    color: rgba(231, 173, 64, 0.637);
    position: fixed;
    right: 5px;
    z-index: 157;
    bottom: 150px;
}

.logIn:hover {
    color: rgba(231, 173, 64, 0.836);
}



.switchFooter:hover {
    color: rgba(255, 255, 255, 0.842);
    text-decoration: underline;
}

.switchB:hover {
    color: rgba(255, 255, 255, 0.87)
}

.switcher:hover {
    color: rgba(255, 255, 255, 0.925)
}

#login {
    cursor: default;
    padding: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgba(32, 32, 32, 0.856);
    z-index: 165;
    color: rgba(255, 255, 255, 0.678);
    min-width: 100px;
    text-align: center;
}

#propField hr {
    border: 0; border-top: 1px solid rgb(90, 90, 90);
}

.desktop hr {
    border: 0; border-top: 1px solid rgb(90, 90, 90);
}

.logIn hr {
    border: 0; border-top: 1px solid rgb(90, 90, 90);
}

#propField {
    cursor: default;
    display: none;
    padding: 15px;
    padding-top: 0px;
    font-size: 13px;
    position: fixed;
    bottom: 27px;
    right: 40px;
    background-color: rgba(32, 32, 32, 0.856);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}


#saveIconsField {
    cursor: default;
    display: none;
    padding: 10px;
    font-size: 12px;
    position: fixed;
    top: 30px;
    left: 320px;
    background-color: rgb(32, 32, 32);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#saveIcons:hover #saveIconsField {
    display: block;
}

#backFolderField {
    cursor: default;
    display: none;
    padding: 10px;
  
    position: fixed;
    top: 30px;
    left: 310px;
    background-color: rgb(32, 32, 32);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#backFolder:hover #backFolderField {
    display: block;
}



#prop:hover #propField {
    display: block;
}

.slide {
    width: 100%;
}

#s:hover {
    cursor: pointer;
}



#music:hover #radio {
    display: block;
}

#movie:hover #movieField {
    display: block;
}

#book:hover #bookField {
    display: block;
}

#series:hover #seriesField {
    display: block;
}

#events:hover #eventsField {
    display: block;
}

#explore:hover #exploreField {
    display: block;
}


#screenS:hover #screenField {
    display: block;
}

#music label:hover {
    cursor: pointer;
    text-decoration: rgb(255, 255, 255) underline; 
}

#music label {
    color: rgba(255, 255, 255, 0.842);
    margin-left: 10px;
}


#actuall:hover #actuallField {
    left: 90px;
    display: block;
    font-size: 14px;
}

#explore:hover #exploreField {
    left: 250px;
    display: block;
    font-size: 14px;
}

#followedFolders:hover #followedFoldersField {
    left: 150px;
    display: block;
    font-size: 14px;
}

#sharedFolders:hover #sharedFoldersField {
    left: 180px;
    display: block;
    font-size: 14px;
}

#userPulpit:hover #userPulpitField {
    left: 120px;
    display: block;
    font-size: 14px;
}



#music label input {
    display: none;
} 



.cityCinema:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mainChoice {
    cursor: pointer;
    font-size: 13px;
    text-align: left;
    color: rgba(255, 255, 255, 0.842);
    margin-left: 10px;
}

.mainChoice:hover {
    text-decoration: rgb(255, 255, 255) underline ;
   
} 

.mainChoice input {
    display: none;
} 

.headHeader {
    color: rgba(255, 255, 255, 0.842);
    margin-left: 9px;
}

.mainMenu{
    width: 100vw;
    display: inline-flex;
    z-index: 1000;
    position: absolute;
    left: 180px;
    top: 2px;
   
}




#bookField {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 30px;
    left: 230px;
    background-color: rgba(32, 32, 32, 0.918);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#seriesField {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 33px;
    left: 450px;
    background-color: rgba(32, 32, 32, 0.925);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}



#eventsField {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 47px;
    left: 600px;
    background-color: rgba(32, 32, 32, 0.918);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#screenField {
 
    top: 30px;
    right: 50px;

}

#movieField {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 30px;
    left: 130px;
    background-color: rgba(32, 32, 32, 0.918);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#topSwitch:hover #topField {
    display: block;
} 

#topField {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 30px;
    left: -70px;
    background-color: rgba(32, 32, 32, 0.856);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
    text-align: center;
}

#radio {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: rgba(32, 32, 32, 0.9);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#explFilterField {
    cursor: default;
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 27px;
    left: -160px;
    background-color: rgba(32, 32, 32, 0.952);
    z-index: 700;
    color: rgba(255, 255, 255, 0.678);
}

#explFilterField hr {
    border: 0; border-top: 1px solid rgb(90, 90, 90);
    
}

#explFilter:hover #explFilterField {
    display: block;
}


#alert {
    font-size: 12px;
    padding: 1px;
    font-family: 'Mandali', sans-serif;
    color: #ffffffbd;
    display: none;
}

#infoLink {
    font-size: 11px;
    color: #c4c4c4;
    opacity: 1;
    position: relative;
    margin-left: 9px;
    width: 20px;
}

    #infoLink:hover {
        font-size: 11px;
        cursor: default;
    }

#infoLink:hover #info {
            display: block;
        }

#info {
    cursor: default;
    padding: 10px;
    font-size: 12px;
    display: none;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 230px;
    background-color: rgb(68, 68, 68);
    z-index: 150;
    white-space: normal;
}

#imageGoogle {
    height: 20px;
  
    background-color: rgb(245, 245, 245);
   
}

.registerButton {
    width: 300px;
    height: 40px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: white;
    transition: border 0.5s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    font-size: 13px;
    
}

.registerButton:hover {
    border: rgba(187, 187, 187, 0.801) 1px solid;
    cursor: pointer;
}

.musicButtton {
    width: 200px;
    height: 25px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: white;
    transition: border 0.5s;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
}

.registerButtton {
    width: 300px;
    height: 35px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: white;
    transition: border 0.5s;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}



.registerButtonEnabled {
    width: 300px;
    height: 35px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.562);
    display: block;
    color: rgba(255, 255, 255, 0.507);
    transition: border 0.5s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    font-size: 12px;
    pointer-events: none;
}

.cookieButtton {
    width: 80px;
    height: 25px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    color: white;
    transition: border 0.5s;
    font-size: 11px;
    position: absolute;
    top: 20px;
    right: 10px;

}


.cookieButtton:hover {
    border: rgba(187, 187, 187, 0.801) 1px solid;
    cursor: pointer;
}


    .musicButtton:hover {
        border: rgba(187, 187, 187, 0.801) 1px solid;
        cursor: pointer;
    }

    .filmButtton {
        width: 210px;
        height: 25px;
        border: rgb(0, 0, 0) 1px solid;
        border-radius: 5px;
        background-color: rgb(0, 110, 255);
        display: block;
        color: white;
        transition: border 0.5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
    }

    .filmButtton:hover {
        border: rgba(187, 187, 187, 0.801) 1px solid;
        cursor: pointer;
    }


    .filmButttonEnabled {
        width: 210px;
        height: 25px;
        border: rgb(0, 0, 0) 1px solid;
        border-radius: 5px;
        background-color: rgba(0, 110, 255, 0.459);
        display: block;
        color: rgba(255, 255, 255, 0.322);
        transition: border 0.5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
        pointer-events: none;
    }

    .enabled {
        pointer-events: none;
        background-color: rgba(0, 110, 255, 0.342);
    }

  
    .bookButtton {
        width: 210px;
        height: 25px;
        border: rgb(0, 0, 0) 1px solid;
        border-radius: 5px;
        background-color: rgb(0, 110, 255);
        display: block;
        color: white;
        transition: border 0.5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
    }


    .bookButttonEnabled {
        width: 210px;
        height: 25px;
        border: rgb(0, 0, 0) 1px solid;
        border-radius: 5px;
        background-color: rgba(0, 110, 255, 0.459);
        display: block;
        color: rgba(255, 255, 255, 0.322);
        transition: border 0.5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
        pointer-events: none;
    }

    
        .bookButtton:hover {
            border: rgba(187, 187, 187, 0.801) 1px solid;
            cursor: pointer;
        }

button:focus {
    outline: 0;
}

.googleLogout {
   color: rgb(148, 0, 0);
}

.cookieInfo {
    position: fixed;
    font-size: 11px;
    bottom: 40px;
    height: 55px;
    left: 20px;
    border: 0px solid;
    width: 400px;
    color: rgb(126, 126, 126);
    text-align: left;
    z-index: 600;
    transition: all 2s;
    padding: 5px;
    background-color: rgb(8, 8, 8);
    
 }





.footer {
    position: fixed;
    bottom: 0;
    height: 10px;
    left: 50%;
    margin-left: -150px;
    border: 0px solid;
    border-top-right-radius: 30px 10px;
    border-top-left-radius: 30px 10px;
    width: 300px;
    color: white;
    text-align: center;
    z-index: 100;
    -webkit-box-shadow: 0px -1px 7px 0px rgba(192, 192, 192, 0.705);
    -moz-box-shadow: 0px -1px 7px 0px rgba(192, 192, 192, 0.705);
    box-shadow: 0px -1px 7px 0px rgba(192, 192, 192, 0.705);
    transition: all 0.5s;
    z-index: 700;
 }

 .mainFooter {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    border: 0px solid;
    border-top-right-radius: 30px 10px;
    border-top-left-radius: 30px 10px;
    width: 300px;
    color: white;
    text-align: center;
    transition: all 0.5s;
    height:  30px;
    z-index: 500;
    -webkit-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.705);
    -moz-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.705);
    box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.705);
 }

 .footer:hover {
    height:  30px;
    z-index: 500;
    -webkit-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.705);
    -moz-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.705);
    box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.705);
 
 }

 .dna-table {
    margin: auto;
    text-align: center;
  
  }

 .loginBtn {
    box-sizing: border-box;
    position: relative;
    left: 0;
    width: 193.08px;
    height: 43px;
    /* margin: 0.2em; */
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    
  }

  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 32px; 
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-size: 12px;
    text-shadow: 0 -1px 0 #354C8C;
    cursor: pointer;
    /* left: -4px; */
  }
  .loginBtn--facebook:before {
    border-right: #364e92 0px solid;
    background: url("icon_facebook.png") 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }

.loginLive {
    color: rgba(73, 73, 73, 0.925);
}
  .loginBtn--livesearch {
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(rgba(219, 219, 219, 0.89), rgb(218, 218, 218));
    font-size: 12px;
    
    cursor: pointer;
    /* left: -4px; */
  }
  .loginBtn--livesearch:before {
    border-right: #747a8a 0px solid;
    background: url("livesearch.png") no-repeat;
    background-size: 80%;
    margin-left: 5px;
    margin-top: 4px;
  }
  .loginBtn--livesearch:hover,
  .loginBtn--livesearch:focus {
    background-color: rgba(194, 196, 197, 0.719);
    background-image: linear-gradient(rgba(238, 238, 238, 0.774), rgba(212, 212, 212, 0.747));
  }

 .liveImg {
    background: url("livesearch.png") no-repeat;
    background-size: 80%;
 }

  .construction {
    width: 14px;
    height: 14px;
    background:  url("underconstruction.png") no-repeat;
    background-size: 100%;
    float: left;
  }

  .popup {
    position: fixed;
    left: 50%;
    margin-left: -150px;
    border-radius: 10px;
    width: 350px;
    color: rgb(177, 177, 177);
    text-align: center;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.822);
    -webkit-box-shadow:  0px 0px 1px 1px rgba(190, 190, 190, 0.637);
    -moz-box-shadow: 0px 0px 1px 1px rgba(190, 190, 190, 0.637);
    box-shadow:  0px 0px 1px 1px rgba(190, 190, 190, 0.637);
    transition: all 0.5s;
    font-size: 15px;
    padding: 10px;
    font-family: 'Mandali', sans-serif;
    word-wrap: break-word;
  }

  .titleButton {
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 1px solid;
    cursor: pointer;
    transition: all 0.5s;
  }



  .titleButton:hover {
    border: rgba(187, 187, 187, 0.801) 1px solid;
    cursor: pointer;
    color: white;
  }

  #privFolderText {
      display: none;
  }


  #privateButtonB:hover #privFolderText {
      display: block;
  }

  .privateButton {
    background-color: rgb(47, 48, 49);
  }

  .deleteButton {
    background-color: red;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .explButton {
      width: 120px;
      height: 22px;
      font-size: 13px;
      margin-left: 10px;
      margin-top: 7px;
  }

  .popupButtton {
    width: 50px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 2px;
}

.popupAnother {
    background-color: rgba(0, 110, 255, 0.658);
}


.popupButttonDis {
    width: 50px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: rgb(189, 189, 189);
    transition: all 0.5s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 2px;
    pointer-events: none
}

.popupButtton:hover {
    border: rgba(187, 187, 187, 0.801) 1px solid;
    cursor: pointer;
    color: white;
}


.loginPanel {
    position: absolute;
    top: 200px;
    left: 45vw;
}


.switchHref {
    cursor: pointer;
    opacity: 0,3;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    white-space: nowrap; 
    width: 5px;
    text-decoration: underline;
    padding-bottom: 4px;
}

.switchHref:hover {
    color: rgba(255, 255, 255, 0.842);
   
}


.infoArrow {
    color: rgba(255, 0, 0, 0.774);
    position: absolute;
    animation: arrowAnimation 1s 7;
    animation-direction: alternate;
    left: 50px; 
    top: 24px;
    font-size: 15px;
    padding-right: 30px;
    width: 20px;
    text-align: right;
  }

  .infoArrowBestsellers {
    color: rgba(255, 0, 0, 0.774);
    position: absolute;
    animation: arrowAnimation 1s 7;
    animation-direction: alternate;
    left: 50px;
    top: 53px;
    font-size: 15px;
    padding-right: 30px;
    width: 20px;
    text-align: right;
  }
  
  @keyframes arrowAnimation {
    0%   { left: 50px;}
    100% { left: 70px;}
  }

  .checkL div{
    background-color: rgb(255, 255, 255);
    width: 13px;
    height: 13px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 1px 0.7px rgba(59, 59, 59, 0.75);
    -moz-box-shadow: inset 0px 0px 1px 0.7px rgba(59, 59, 59, 0.75);
    box-shadow: inset 0px 0px 1px 0.7px rgba(59, 59, 59, 0.75);
    display: inline-block;
    position: relative;
    left: -4px;
    top: 2px;
    color: black;
  }

  .checkL button{
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 3px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: rgb(0, 110, 255);
    transition: border 0.5s;
    margin-left: 10px;
    margin-right: auto;
    font-size: 19px;
    padding: 4px;
    width: 13px;
    height: 13px;
}
    
     

  .uncheckL div{
    background-color: rgb(0, 110, 255);
    width: 9px;
    height: 9px;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    padding-top: 2px;
 
   /*  -webkit-box-shadow: inset 0px 0px 1px 0.7px rgba(59, 59, 59, 0.75);
    -moz-box-shadow: inset 0px 0px 1px 0.7px rgba(59, 59, 59, 0.75);
    box-shadow: inset 0px 0px 1px 0.7px rgba(59, 59, 59, 0.75); */
    display: inline-block;
    position: relative;
    left: -4px;
    top: 2px;
  }

  #userNick:hover #userNickEdit {
display: inline-block;
  }

  #userNickEdit {
      display: none;
  }



   #exploreT
  {
    
    background-color: rgba(204, 204, 204, 0.096);
    border-width: 0px;
    color: rgba(223, 223, 223, 0.89);
    text-align: left;
    font-size: 12px;
    height: 100%;
    width: 100%;
    font-family: 'Mandali', sans-serif;
    padding-right: 20px;
  } 


  #exploreN
  {
    background-color: rgba(196, 196, 196, 0.089);
    border-width: 0px;
    color: rgba(223, 223, 223, 0.959);
    text-align: center;
    font-size: 14px;
    height: 17px;
    width: 40px;
    border-radius: 5px;
    pointer-events: none;
  } 

  #iconCount {
    font-size: 18px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(223, 223, 223, 0.582);
    border-width: 0px;
  }

  #iconCount:hover {
    color: rgb(223, 223, 223);
    cursor: pointer;
  }



  .exploreDiv {
    position: relative;
    border-width: 1px; 
    border-style: solid; 
    margin-top: 7px;
    margin-left: 13px;
    width: 20vw;
    height: 20px;
    display: flex;
    border: rgba(119, 119, 119, 0.582) solid 0.5px;
  }

  .addingDiv {
    position: relative;
    border-width: 1px; 
    border-style: solid; 
    margin-top: 7px;
    margin-left: 13px;
    width: 25vw;
    height: 20px;
    display: flex;
  }

  

  #exploreMenu {
    position: absolute;
    left: 300px;

  }

  #exploreMenu label input {
    display: none;
} 

#exploreMenu label:hover {
    cursor: pointer;
    text-decoration: rgba(255, 255, 255, 0.527) underline; 
    color: rgba(255, 255, 255, 0.651);
}

#exploreMenu label {
    color: rgba(255, 255, 255, 0.479);
    font-size: 13px;
    margin-top: 11px;
    margin-left: 20px;
}




 #loginLivesearch label input {
    display: none;
} 

#loginLivesearch label:hover {
    cursor: pointer;
    text-decoration: rgba(255, 255, 255, 0.76) underline; 
    color: rgba(255, 255, 255, 0.973);
}

#loginLivesearch label {
    color: rgba(255, 255, 255, 0.842);
    font-size: 13px;
    margin-top: 11px;
    margin-left: 20px;
} 



.wrongRegister {
 
    color: rgb(231, 0, 0);
    font-size: 13px;
    position: absolute;
    left: 50px;
    text-shadow: 1px 1px 2px rgb(19, 19, 19);
    text-align: left;

}

.disableRegister {
    position: absolute;
    top: -17px;
    right: -11px;
    color: rgb(255, 0, 0);
    font-weight: 900;
    display: block;
    /* text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px; */
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: -9px 13px 15px -1px #000000;
    font-size: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.disableRegister:hover {
    cursor: pointer;
    color: rgba(245, 39, 39, 0.897);
    text-shadow: rgba(29, 29, 29, 0.979) -3px 2px 1px, rgba(0, 0, 0, 0.911) 0px 0px 5px;
}
