
.icon-popup:before { content: '\e800'; } /* '' */
.icon-folder-add:before { content: '\e801'; } /* '' */
.icon-note:before { content: '\e802'; } /* '' */
.icon-left-bold:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-video-alt:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-video:before { content: '\e808'; } /* '' */
.icon-resize-full-alt:before { content: '\e809'; } /* '' */
.icon-resize-small-alt:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-dot-3:before { content: '\e80c'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */