
.icon-folder-add:before { content: '\e800'; } /* '' */
.icon-note:before { content: '\e801'; } /* '' */
.icon-left-bold:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-floppy:before { content: '\e804'; } /* '' */
.icon-video-alt:before { content: '\e805'; } /* '' */
.icon-book:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-dot-3:before { content: '\e808'; } /* '' */
.icon-fire:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-doc-landscape:before { content: '\e80b'; } /* '' */
.icon-resize-full:before { content: '\e80c'; } /* '' */
.icon-resize-small:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-eye-off:before { content: '\e80f'; } /* '' */
.icon-lock-1:before { content: '\e810'; } /* '' */
.icon-doc:before { content: '\e811'; } /* '' */
.icon-group:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */